.gradient-control-component {
  margin-bottom: 10px;

  width: 100%;
  height: 95px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.gradient-control-component .gradient-view {
  position: relative;

  width: 100%;
  height: 60px;

  border: 3px solid #fafafa;
  border-radius: 3px;

  background-color: #f1f2f3;

  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}
.gradient-control-component .gradient-view .gradient-opacity-view {
  position: absolute;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),linear-gradient(-45deg, #ccc 25%, transparent 25%),linear-gradient(45deg, transparent 75%, #ccc 75%),linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0;

  z-index: 1;
}
.gradient-control-component .gradient-view .gradient-image-view {
  position: absolute;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  z-index: 2;
}
.gradient-control-component .gradient-pointers-field {
  position: relative;

  margin-top: 5px;

  width: 100%;
  height: 30px;

  border: 1px dashed rgba(0, 179, 255, 0.30);
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 179, 255, 0.15);

  transition-property: background-color, border;
  transition-timing-function: ease-out;
  transition-duration: 180ms;

  cursor: copy;
}
.gradient-control-component .gradient-pointers-field:hover {
  background-color: rgba(0, 179, 255, 0);
  border-color: rgba(0, 179, 255, 0.75);
}
.gradient-control-component .gradient-pointers-field .pointer-field-title {
  font-family: 'OpenSans Bold', sans-serif;;
  color: rgba(0, 169, 255, 0.5);

  transition: color 180ms ease-out;

  pointer-events: none;
}
.gradient-control-component .gradient-pointers-field:hover .pointer-field-title {
  color: rgba(0, 169, 255, 0);;
}
.gradient-control-component .gradient-pointers-field .gradient-pointer-container {
  position: absolute;

  left: 0;
  top: 5px;

  transform: translateX(-11px);

  width: 22px;
  height: auto;

  cursor: pointer;
}
.gradient-control-component .gradient-pointers-field .gradient-pointer-container.selected {
  z-index: 3;
}
.gradient-control-component .gradient-pointers-field .gradient-pointer-container.selected .pointer-position {
  opacity: 1;
}
.gradient-control-component .gradient-pointers-field .gradient-pointer-container.selected .pointer-remove-btn {
  opacity: 1;
  pointer-events: inherit;
}
.gradient-control-component .gradient-pointers-field .gradient-pointer-container .pointer-position {
  position: absolute;

  width: 45px;

  left: 50%;
  bottom: -20px;

  transform: translateX(-50%);

  text-align: center;

  font-family: 'OpenSans Bold', sans-serif;
  font-size: 12px;

  opacity: 0;

  transition: opacity 120ms ease-out;

  cursor: default;
  user-select: none;
  pointer-events: none;
}
.gradient-control-component .gradient-pointers-field .gradient-pointer-container .pointer-remove-btn {
  position: absolute;

  padding-bottom: 3px;

  left: calc(50% + 30px);
  bottom: -20px;

  transform: translateX(-50%);

  width: 15px;
  height: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;

  opacity: 0;

  font-size: 12px;
  color: #fafafa;

  transition: opacity 120ms ease-out;

  pointer-events: none;

  background-color: rgba(255, 0, 0, 0.51);

}
.gradient-control-component .gradient-pointers-field .gradient-pointer-container .pointer-remove-btn.left-sided {
  left: calc(-50% - 10px);
}
